h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
a {
  color: #006EFF;
  text-decoration: none;
}
a:hover,
a:active {
    color: #AAA;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 2.6rem;
    line-height: 1.4;
    margin: 1.4rem 0;
}
h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin: 1.3rem 0;
}
h3 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 1.2rem 0;
}
h4 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h5 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h6 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}
hr {
    margin: 0 0 1rem;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    margin: 1rem 0;
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
}
blockquote p {
    font-weight: 300;
    font-style: italic;
}
code {
    border-radius: 2px;
    background: #FAFAFA;
    border: 1px solid #E0E0E0;
    color: #FF00F3;
    font-family: 'Inconsolata', Monaco, Andale Mono, monospace !important;
    padding: 0.1rem 0.4rem;
}
pre code {
    overflow: auto;
    padding: 0.5rem;
    text-align: left;
    border-radius: 4px;
}
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: 'PT Sans', serif;
    background: #FEFEFE;
    color: #252525;
    font-size: 1.0rem;
    text-align: center;
    margin: 0;
    min-width: 300px;
}

#page-wrap {
    width: auto;
    margin: 0;
    border: none;
}

#footer {
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #AAAAAA;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-top:20px;
}
#header {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid #AAAAAA;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header #logo {
    width: 120px;
}

#title {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 50px;
    line-height: 50px;
    color: white;
    background: #006EFF;
}

#tagline {
    font-weight: normal;
    font-style: italic;
}
#nav {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#nav li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}
#nav li.current-page::before {
    content: ">";
    color: #AAA;
}
#nav li.current-page::after {
    content: "<";
    color: #AAA;
}
#nav a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#content {
    padding: 0 20px;
    margin-bottom: 80px;
}
.post, .about, .archives {
    text-align: left;
}
.archives {
    margin-bottom: -40px;
}
.archives, .about {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.archives {
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
  font-size: 18px;
}
.archives a::before {
    padding-left: 0;
    padding-right: 10px;
    content: "/";
  }
.post > * {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
.codehilite,
.wide-content {
  display: block;
  text-align: center;
  max-width: 1000px;
}
.codehilite pre {
  text-align: left;
  padding: 12px;
  overflow: auto;
}
p.wide-content, img.wide-content {
  max-width: none;
}
.post p {
    margin-bottom: 1.5em;
}
.post blockquote p {
    margin: 0;
}

img {
	max-width: 100%;
}
hr {
	background-color: #999;
}
.post *:not(ul, ol) > ul,
.post *:not(ul, ol) > ol {
	list-style-position: outside;
	border: 1px solid rgba(0,0,0,.2);
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 3px;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}
#headshot {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 320px;
}

#personal-info {
  max-width: 455px;
}
@media (max-width: 839px) {
  .about {
    text-align: center;
  }
  .archives p {
      margin-bottom: 20px;
    }
  .archives a::before {
      content: "";
      padding: 0;
    }

}
