h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
a {
	color: #006EFF;
  text-decoration: none;
}
a:hover,
a:active {
    color: #AAA;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 2.6rem;
    line-height: 1.4;
    margin: 1.4rem 0;
}
h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    margin: 1.3rem 0;
}
h3 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin: 1.2rem 0;
}
h4 {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h5 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h6 {
    font-size: 1.1rem;
    line-height: 1.4;
    margin: 1.1rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.4rem;
  margin: 1.1rem 0;
}
hr {
    margin: 0 0 1rem;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    margin: 1rem 0;
    padding: 0.5rem 0;
    padding-left: 1rem;
    border-left: 3px solid #ccc;
}
blockquote p {
    font-weight: 300;
    font-style: italic;
}
code, pre {
    background: #f0f0f0;
    color: black;
    font-family: 'Inconsolata', Monaco, Andale Mono, monospace !important;
    text-align: left;
}
code {
    padding: 2px 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
pre {
    display: block;
    padding: 1rem;
    margin: 0 0 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    padding: 0;
}
