h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    margin: 10px 13px 10px 13px;
}
a {
	color: #0088EE;
    text-decoration: none;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}
p {
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 36px;
}
h1 {
    margin: 18px 0;
    font-size: 30px;
}
h2 {
    font-size: 24px;
    margin: 14px 0;
}
h3 {
    font-size: 18px;
    margin: 10px 0;
}
h4 {
    font-size: 16px;
    margin: 9px 0;
}
h5 {
    font-size: 14px;
    margin: 8px 0;
}
h6 {
    font-size: 13px;
    margin: 7px 0;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    margin: 1em 0;
    padding: 1em 0;
    padding-left: 30px;
    border-left: 10px solid #ccc;
}
blockquote p {
    font-weight: 300;
    font-style: italic;
}
code, pre {
    background: white;
    font-family: 'Inconsolata', Monaco, Andale Mono, monospace !important;
    text-align: left;
}
code {
    background-color: #fee9cc;
    background: white;
    padding: 1px 3px;
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    border: 1px solid #999;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    color: black;
    padding: 0;
}
