body {
    font-family: 'Inconsolata', sans-serif;
	/*line-height: 145%;*/
}
header {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
header #logo, header #nav {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
header #nav * {
    display: inline;
    text-align: center;
    padding: 5px;
}
    
#content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
	margin-bottom: 20px;
}

.post * {
	/*padding-bottom: 10px;*/
	/*margin-bottom: 10px;*/
    font-family: 'Times New Roman', serif;
    line-height: 145%;
}
img {
	max-width: 100%;
}
hr {
	background-color: #999;
}
*:not(ul, ol) > ul, *:not(ul, ol) > ol {
	list-style-position: outside;
	border: 1px solid rgba(0,0,0,.2);
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 3px;
}
@media only screen and (max-width: 1023px) {
/* iPad? */
}
@media handheld, only screen and (max-width: 740px) {
/* small things */
    #content {
        width: auto;
        min-width: 300px;
    }
}
