body {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-family: 'Lato', sans-serif;
	line-height: 145%;
	letter-spacing:0.1em;
}

#sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	margin: none;
	margin: 10px;
}
#content {
	position: absolute;
	top: 0;
	left: 200;
	bottom: 0;
	right: 0;
	margin: none;
	padding: 10px;
	margin-right: 20px;
	margin-left: 20px;
}

#sidebar-inner, #content-inner {
	padding: 10px;
}
#sidebar, #content {
	margin-bottom: 10px;
}
#header {
	text-align: left;
	padding: 10px;
}
#header h1 {
	font-size: 40px;
}
#header p {
	font-size: 15px;
}
.post * {
	padding-bottom: 10px;
	margin-bottom: 10px;
}
hr {
	background-color: #CCC;
}
@media handheld, only screen and (max-width: 767px) {
	#sidebar, #content {
		position: relative;
		left: -12px;

	}
}
*:not(ul, ol) > ul, *:not(ul, ol) > ol {
	list-style-position: outside;
	border: 1px solid rgba(0,0,0,.2);
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 3px;
}
h1, h2, h3, h4, h5, h6 {
	/*text-transform: uppercase;*/
}
