.shadow {
	box-shadow: 5px -5px 0 0px #CCC,
				4px -4px 0 0px #CCC,
				3px -3px 0 0px #CCC,
				2px -2px 0 0px #CCC,
				1px -1px 0 0px #CCC,
				
				6px -7px 6px 0px #CCC;
}

#header {
	font-size: 20px;
	letter-spacing: -1 px;
	text-align: center;
	border-bottom: 3px solid #0088EE;
}
#header h1 {
	font-size: 2em;
}
#header p {
	font-size: 1em;
}
#header a {
	color: inherit;
	text-decoration: inherit;
}
#header h1:hover {
	color: #0088EE;
}

#content {
	position: relative;
	left: -10px;
}
@media handheld, only screen and (max-width: 767px) {
	#sidebar {
		position: relative;
		left: -10px;
	}
}
#sidebar, #content {
	margin-top: 20px;
}
#sidebar-inner, #content-inner {
	background: rgba(0,0,0,.05);
	padding: 10px;
}

/* Dividers */
.divider {
	border-bottom: 2px solid rgba(0,0,0,.5);
	margin-top: 10px;
	margin-bottom: 10px;
}
* > .divider:last-child {
	border-bottom: none;
	margin-bottom: none;
}

*:not(ul, ol) > ul, *:not(ul, ol) > ol {
	list-style-position: outside;
	border: 1px solid rgba(0,0,0,.2);
	padding-bottom: 2px;
	padding-top: 2px;
	border-radius: 3px;
}
