#shell {
  width: 759px;
  padding: 0 12px;
  margin: auto;
}
#main {
  padding-bottom: 3px
}
/* Sidebar */
.sidebar {
  width: 254px;
  float: left;
  padding: 5px 0 0 5px;
}
/* Content */
.content {
  width: 491px;
  float: right;
  padding: 5px 5px 0 0;
}
/* =====> General Page <===== */
.general-page #shell {
  width: auto;
  min-width: 800px;
  max-width: 1400px;
}

.general-page #main {
  padding-bottom: 40px
  display: table;
  padding: 10px;
  max-width: 100%;
  box-sizing: border-box;
}
.general-page .sidebar {
  float: none;
  min-width: 254px;
  display: table-cell;
  vertical-align: top;
  padding: 5px 0 0 5px;
}
.general-page .content {
  float: none;
  width: 100%;
  display: table-cell;
  vertical-align: top;
  padding-right: 4px;
}

