body {
	background: url(/static/background.png) repeat;
	background: url(/static/project-paper.png) repeat;
}

#topbar {
	padding: 5px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
}

#sidebar {
	background-color: rgba(0, 0, 0, .2);
	position: absolute;

	left: 0px;
	top: 40px;
	width: 200px;
	margin: 10px;

	padding: 5px;
}

#content {
	background-color: rgba(0, 0, 0, .2);
	position: absolute;
	
	left: 220px;
	top: 40px;
	right: 0px;
	margin: 10px;
	
	padding: 5px;
	bottom: 0px;
}
