<!doctype HTML>
<html>
{{>head}}

<body>
    <div id='page-wrap'>
        {{>header}}
        <div id='content'>
            <div class='about'>
                <h3> About </h3>
                
                <p> I'm 19 years old. </p>
                <p> I want to do great things with smart people. </p>
                <p> I live in San Francisco. </p>
                <p> I work at <a href='http://locu.com'>Locu</a>.</p>
                
                <h4> Contact </h4>
                <p>
                    <a href='http://github.com/peterldowns'>Github</a>, 
                    <a href='http://stackoverflow.com/users/829926/peter-downs'>Stack Overflow</a>, 
                    <a href='mailto:peterldowns@gmail.com'>Email</a>, 
                    <a href='aim:GoIm?screenname=peterldowns'>AIM</a>.
                </p>
                
                <br/>
                <img src='/static/img/locu-smile.jpg' />
            </div>
        </div>
    </div>
</body>

</html>
