<!doctype HTML>
<html>
{{>head}}

<body>
    <div id='page-wrap'>
        {{>sidebar}}
        <div id='content'>
            <div id='content-inner'>
                <div class='about'>
                    <h1> About </h1>
                    
                    <h3> Who is Peter Downs? </h3>
                    <p> 18 years old. </p>
                    <p> Living in SF. </p>
                    <p> Working at <a href='http://hyperink.com'>Hyperink</a>.</p>
                    <p> Wants to do great things. </p>
                    
                    <h3> Links </h3>
                    <p>
                        <a href='http://github.com/peterldowns'>Github</a>, 
                        <a href='http://stackoverflow.com/users/829926/peter-downs'>Stack Overflow</a>, 
                        <a href='mailto:peterldowns@gmail.com'>Email</a>, 
                        <a href='aim:GoIm?screenname=peterldowns'>AIM</a>.
                    </p>
                    
                    <br/>
                    <img src='/static/img/waving.jpg' />
                </div>
            </div>
        </div>
    </div>
</body>

</html>
