<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>
{{#post}}
<title> {{title}} — Peter Downs </title>
{{/post}}
{{^post}}
<title> Peter Downs </title>
{{/post}}

<link href='//fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700'
      rel='stylesheet'
      type='text/css' />
<link href='//fonts.googleapis.com/css?family=Inconsolata'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/clearness.css'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/index.css'
      rel='stylesheet'
      type='text/css' />
<link href="/static/css/highlightjs.css"
      rel="stylesheet"
      type='text/css'/>

<script type='text/javascript' src='/static/js/tracking.js'></script>
