<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>
{{#post}}
<title> {{title}} — Peter Downs </title>
{{/post}}
{{^post}}
<title> Peter Downs </title>
{{/post}}

<link href='//fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700'
      rel='stylesheet'
      type='text/css' />
<link href='//fonts.googleapis.com/css?family=Inconsolata'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/clearness.css'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/index.css'
      rel='stylesheet'
      type='text/css' />
<link href="/static/css/highlightjs.css"
      rel="stylesheet"
      type='text/css'/>

<script type='text/javascript'>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-40701023-1', 'peterdowns.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
