<!-- Metadata -->
{{#post}}
<title> {{title}} — Peter Downs </title>
{{/post}}
{{^post}}
<title> Peter Downs </title>
{{/post}}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width'>
<link rel="me" href="https://github.com/peterldowns" />
<link rel="me" href="https://peterldowns.tumblr.com" />
<link rel="me" href="https://twitter.com/peterldowns" />

<!-- Assets -->
<link href='//fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700'
      rel='stylesheet'
      type='text/css' />
<link href='//fonts.googleapis.com/css?family=Inconsolata'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/clearness.css'
      rel='stylesheet'
      type='text/css' />
<link href='/static/css/index.css'
      rel='stylesheet'
      type='text/css' />
<!-- Analytics -->
<script type='text/javascript' src='/static/js/tracking.js'></script>
