<head>
	<link href='//fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/static/css/clearness.css'/>
    <link rel='stylesheet' type='text/css' href='/static/css/index.css' />
    <link rel="stylesheet" href="/static/css/highlightjs.css">
    {{^post}}
    <title> Peter Downs — Student / Hacker / Human </title>
    {{/post}}
    {{#post}}
    <title> {{title}} — Peter Downs — Student / Hacker/ Human </title>
    {{/post}}
    <meta name='viewport' content='width=device-width'>
</head>
