<!doctype HTML>
<html>
{{>head}}

<body>
    {{>header}}
    <div id='content'>
        <div id='content-inner'>
            <div class='archives'>
                <h1 style='text-decoration: underline;'> All Posts </h1>
                {{#posts}}
                <p>
                    <h4 style='display: inline;'>
                        <a href='{{html_path}}'>{{title}}</a>
                    </h4>
                    &mdash; {{date}}
                </p>
                {{/posts}}
            </div>
        </div>
    </div>
</body>

</html>
