<!doctype HTML>
<html>
{{>head}}

<body>
    <div id='page-wrap'>
        {{>sidebar}}
        <div id='content'>
            <div id='content-inner'>
                <div class='archives'>
                    <h1> Writing </h1>
                    
                    {{#posts}}
                    <p>
                        <h4 style='display: inline;'>
                            <a href='{{html_path}}'>{{title}}</a>
                        </h4>
                        &mdash; {{date}}
                    </p>
                    {{/posts}}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
