<!doctype HTML>
<html>

<head>
  {{>head_content}}
  <script type='text/javascript' src='/static/js/highlight.js'></script>
</head>

<body>
  <div id='page-wrap'>
    {{>header}}
    <div id='content'>
      <div class='post'>
        {{&html}}
      </div>
    </div>
  </div>
</body>

<script type='text/javascript'>
  var codeBlocks = document.getElementsByTagName('pre');
  for (var i = 0; i < codeBlocks.length; i++) {
    var block = codeBlocks[i];
    hljs.highlightBlock(block);
  };
</script>

</html>
