<div id='sidebar'>
    <div id='header'>
        <a href='/'>
            <h1> Peter Downs </h1>
        </a>
        <p> Student / Hacker / Human </p>
    </div>
    <div id='sidebar-inner'>
        <h3> About </h3>
        <p> I'm <b>Peter Downs</b>. I'm a highschool (going on university) student in the US.  I like to read, run, and program. This blog is my experiment with writing. I'm currently taking a year between highschool and university and working in San Francisco. </p>
        <p>&mdash; peterldowns@gmail.com</p>
        <p>&mdash; <a href="https://github.com/peterldowns"> Github </a></p>
        <p>&mdash; <a href="http://stackoverflow.com/users/829926/peter-downs"> Stack Overflow </a></p>
    </div>
</div>
